

<p-card [style]="{'width': '100%', 'border-radius': '30px'}" [styleClass]="'shadow-7'">
    
    <div class="flex justify-content-between mb-2">
        <div>

            <i class="pi pi-filter mr-3" style="font-size: 1.2rem"></i>
            <p-dropdown [options]="options" [(ngModel)]="selectedOption" optionLabel="name" optionValue="code" class="mr-2" (onChange)="onChange()"></p-dropdown>
            <p-dropdown [options]="options2" [(ngModel)]="selectedOption2" optionLabel="name" optionValue="code" class="mr-2" (onChange)="onChange()"></p-dropdown>
            <p-calendar [(ngModel)]="valueDate" *ngIf="visible" (onSelect)="getData()"></p-calendar>
        </div>

        <div>
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info p-button-outlined mr-2" (click)="getData()"></button>
            <!-- <button pButton pRipple type="button" icon="pi pi-external-link" class="p-button-rounded p-button-secondary p-button-outlined" (click)="showDialog()"></button> -->
        </div>
    </div>
        
    <p-tabView (onChange)="handleChange($event)">
        <p-tabPanel header="Temperatura">
            <p-chart type="line" height="250" [data]="lineStylesData" [options]="basicOptions"></p-chart>
        </p-tabPanel>

        <p-tabPanel header="Humedad">
            <p-chart type="line" height="250" [data]="lineStylesData" [options]="basicOptions"></p-chart>
        </p-tabPanel>

        <p-tabPanel header="Cantidad de Luz">
            <p-chart type="line" height="250" [data]="lineStylesData" [options]="basicOptions"></p-chart>
        </p-tabPanel>

        <p-tabPanel header="Velocidad del Viento">
            <p-chart type="line" height="250" [data]="lineStylesData" [options]="basicOptions"></p-chart>
        </p-tabPanel>
        
        <p-tabPanel header="Dirección del Viento">
            <p-chart type="radar" height="250" [data]="data" [options]="chartOptions" ></p-chart>
        </p-tabPanel>
    </p-tabView>

</p-card>

<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '80vw', height: '50vw'}" [maximizable]="true"
[draggable]="false" [resizable]="false">
    


</p-dialog>