/* You can add global styles to this file, and also import other style files */

html, body{
    font-family: var( --font-family );
    background-color: var( --surface-b );  
    color: var( --text-color );
}

body{
    padding: 20px;
}


.p-tabview .p-tabview-nav {
    border: 0;
}
/* not selected */
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-radius: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: transparent;
    border: 0;
}
/* hover */
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: #302f2f;
    color: rgba(255, 255, 255, 0.87);
}
/* selected */
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #302f2f;
    color: white;

} 

.p-card .p-card-content {
    padding: 0; 
}

.p-tabview-panel {
    max-height: 300px;
}
canvas {
    // max-height: 300px;
    // height: 300px;
}