
<div class="grid">
    <div class="col-12 lg:col-8">
        
        <h1 class="text-7xl m-0"> {{now | date : 'mediumTime'}} </h1>
        <p class="text-2xl m-0 text-600 mb-5"> {{now | date : 'fullDate'}} </p>
        <!-- <p class="text-6xl mt-2"> Buenas Tardes G6! </p> -->
        
        <app-graphic></app-graphic>

        <h2>Medidas de hoy</h2>
        <div class="grid ">

            <div class="col-6 xl:col-4 ">
                <app-measure-card title="Temperatura" imgSrc="/assets/weather-icon/fill/all/thermometer.svg" 
                    [value]="temperature |  number : '1.2-2'" sup="°C"
                ></app-measure-card>
            </div>

            <div class="col-6 xl:col-4 ">
                <app-measure-card title="Humedad" imgSrc="/assets/weather-icon/fill/all/raindrop.svg" 
                    [value]="humidity |  number : '1.2-2'" sup="%"
                ></app-measure-card>
            </div>

            <div class="col-6 xl:col-4 ">
                <app-measure-card title="Cantidad de luz" imgSrc="/assets/weather-icon/fill/all/clear-day.svg" 
                    [value]="light |  number : '1.2-2'" sub="lm"
                ></app-measure-card>
            </div>

            <div class="col-6 xl:col-4 ">
                <app-measure-card title="Velocidad del Viento" imgSrc="/assets/weather-icon/fill/all/wind.svg" 
                    [value]="windSpeed |  number : '1.2-2'" sub="km/h"
                ></app-measure-card>
            </div>

            <div class="col-6 xl:col-4 ">
                <app-measure-card title="Dirección del Viento" imgSrc="/assets/weather-icon/fill/all/compass.svg" 
                    [value]="windDirection" 
                ></app-measure-card>
            </div>

        </div>

    </div>

    <div class="col-12 lg:col-4 m-auto">
        <app-status-card></app-status-card>
    </div>
</div>


    
